# Process Data - Vaccines

In [1]:
import pandas as pd

In [1]:
DATA_PATH = '../data/'

## Import files

Import  excel file

In [3]:
excel = pd.ExcelFile(DATA_PATH + 'coverage_series.xls')

Make a list of the sheets

In [4]:
sheets = [excel.parse(s) for i, s in enumerate(excel.sheet_names) if i > 0]

Concatinate sheets to one dataframe (df)

In [5]:
df = pd.concat(sheets)

In [6]:
df.head(2)  # checkout firt 2 rows

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2011,2012,2013,2014,2015,2016,Cname,ISO_code,Vaccine,WHO_REGION
0,33.0,8.0,10.0,NaN,11.0,17.0,18.0,27.0,40.0,38.0,...,83.0,89.0,89.0,97,97.0,87.0,Afghanistan,AFG,BCG,EMR
1,NaN,93.0,NaN,90.0,90.0,92.0,92.0,92.0,92.0,94.0,...,97.0,96.0,99.0,99,99.0,99.0,Albania,ALB,BCG,EUR

## Store file as CSV

In [7]:
df.to_csv(DATA_PATH + "vaccinaties.csv")